@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Savoye LET';
  font-weight: bold;
  src: url('./assets/fonts/Savoye\ LET.ttc') format('ttc');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
